@page "/thisisme"
<!--
    this first physical line on a page is the routing directive
    it contains the internal page name for use by the menu (href)
    it is no case-sensitive; BUT spelling is important
-->

<!--
    the PageTitle tag is where you will place the browser tab title text
-->
<PageTitle>title tab text</PageTitle>

<h1>This Is Me</h1>

<p>This is my very <strong>1st</strong> <span style="color:firebrick;">Blazor</span> page</p>

@code {

}
